@model ResetPasswordVM

@{
    Layout = "_StudentLayout";
    ViewBag.Title = "Account | Reset Password";
}

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="StudentEmail">Email</label>
    <input asp-for="StudentEmail" autofocus>
    <span asp-validation-for="StudentEmail" class="text-danger"></span>
    <span></span>

    <section>
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-secondary" type="reset">Reset</button>
    </section>
</form>
